*
{
    margin: 0px;
}
.box
{
    width: 320px;
    height: 450px;
    background-color: white;
    box-shadow: 0px 0px 30px rgb(178, 178, 178);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: auto;
    margin-top: 100px;
    border-radius: 10px;
}
.inp
{
    width: 75%;
    margin: auto;
    display: block;
    padding: 15px;
    margin-top: 30px;
    border-radius: 5px;
}
.inp99
{
    width: 40%;
    display: block;
    padding: 15px;
    margin-top: 30px;
    border-radius: 5px;
}
.inp9
{
    width: 30%;
    display: block;
    padding: 15px;
    margin-top: 30px;
    border-radius: 5px;
}
.pp
{
    width: 30%;
    margin-top: 35px;
    margin-right: 30px;
}
.flex
{
    display: flex;
    gap: 20px;
    justify-content: center;
}
.hd
{
    width: 150px;
    font-size: 12px;
    color: grey;
}
.savz
{
    width: 87%;
    height: 50px;
    background-color: rgb(60, 156, 60);
    border-radius: 5px;
    margin: auto;
    margin-top: 20px;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
}
.kabut
{
    width: 87%;
    height: 50px;
    background-color: rgb(60, 94, 156);
    border-radius: 5px;
    margin: auto;
    margin-top: 20px;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
}